@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
img {
    display: block;
    max-width: 30%;
    height: auto;
}
.header-text {
    font-family:'Press Start 2p', sans-serif ;
}